<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="matchMapper">
	<!-- 회원 -->
	<resultMap type="Member2" id="MemberResultMap">
		<id property="u_mid" column="U_MID"/>
		<result property="user_id" column="USER_ID"/>
		<result property="user_nick" column="USER_NICK"/>
		<result property="gender" column="GENDER"/>
		<result property="height" column="HEIGHT"/>
		<result property="age" column="AGE"/>
		<result property="address" column="ADDRESS"/>
		<result property="user_into" column="USER_INTO"/>
		<result property="gay" column="GAY"/>
		<result property="status" column="STATUS"/>
		<result property="pay_status" column="PAY_STATUS"/>
		<result property="kakao" column="KAKAO"/>
	</resultMap>
<!-- 	<resultMap type="Member2" id="MemberResultMap">
		<id property="u_mid" column="U_MID"/>
		<result property="user_id" column="USER_ID"/>
		<result property="user_pwd" column="USER_PWD"/>
		<result property="user_nick" column="USER_NICK"/>
		<result property="grade" column="GRADE"/>
		<result property="gender" column="GENDER"/>
		<result property="phone" column="PHONE"/>
		<result property="height" column="HEIGHT"/>
		<result property="age" column="AGE"/>
		<result property="address" column="ADDRESS"/>
		<result property="user_into" column="USER_INTO"/>
		<result property="gay" column="GAY"/>
		<result property="r_count" column="R_COUNT"/>
		<result property="updata_date" column="UPDATA_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="pay_status" column="PAY_STATUS"/>
		<result property="kakao" column="KAKAO"/>
	</resultMap> -->
	<!-- 취미 -->
	<resultMap type="Hobby" id="HobbyResultMap">
		<id property="user_id" column="USER_ID"/>
		<result property="movie" column="MOVIE"/>
		<result property="sing" column="SING"/>
		<result property="game" column="GAME"/>
		<result property="jmt" column="JMT"/>
		<result property="pet" column="PET"/>
		<result property="cafe" column="CAFE"/>
		<result property="working" column="WORKING"/>
		<result property="poto" column="POTO"/>
		<result property="travel" column="TRAVEL"/>
	</resultMap>
	
	<!-- 사진 -->
	<resultMap type="MemberImg2" id="MemberImgResultMap">
		<id property="user_id" column="USER_ID"/>
		<result property="originalFileName" column="ORIGINALFILENAME"/>
		<result property="renameFileName" column="RENAMEFILENAME"/>
		<result property="update_date" column="UPDATE_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="imgCount" column="IMG_COUNT"/>
	</resultMap>


	<!-- 회원 -->
	<select id="selectMlist" resultMap="MemberResultMap" resultType="Member2">
		SELECT *
		FROM MEMBER 
	</select>
	
	<select id="selectPlist" resultMap="MemberImgResultMap" resultType="MemberImg2">
		SELECT *
		FROM MEMBERIMG
	</select>
	
</mapper>
